services:
    newscoop_articles_calendar.hooks.listener:
        class: "Newscoop\ArticlesCalendarBundle\EventListener\HooksListener"
        arguments: ["@service_container"]
        tags:
          - { name: kernel.event_listener, event: newscoop_admin.interface.article.edit.sidebar, method: sidebar }

    newscoop_articles_calendar.lifecyclesubscriber:
        class: Newscoop\ArticlesCalendarBundle\EventListener\LifecycleSubscriber
        arguments:
            - @em
        tags:
            - { name: kernel.event_subscriber}

    newscoop_articles_calendar.configure_menu_listener:
        class: Newscoop\ArticlesCalendarBundle\EventListener\ConfigureMenuListener
        tags:
            - { name: kernel.event_listener, event: newscoop_newscoop.menu_configure, method: onMenuConfigure }
        arguments: 
            - @translator

    newscoop_articles_calendar.articles_calendar_service:
        class: Newscoop\ArticlesCalendarBundle\Services\ArticleOfTheDayService
        arguments:  ["@em"]