 .thumb-calendar {
    width:990px;
    margin:0 auto; padding:40px 0;
    border-bottom:#dbdbdb solid 1px;
}

.thumb-calendar .top {
    position:relative;
    margin-bottom:20px;
}
.thumb-calendar .top h4 {
    margin-bottom:5px;
    font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333;
}
.thumb-calendar .top h3 {
    margin:0;
    font-size:24px; color:#000;
}
.thumb-calendar .top ul {
    position:absolute; bottom:0; right:0;
    margin:0;
    list-style-type:none;
    border:#cdcdcd solid 1px; border-radius:2px;
}
.thumb-calendar .top ul li {
    float:left;
    border-right:#cdcdcd solid 1px;
}
.thumb-calendar .top ul li:last-child {border:0;}
.thumb-calendar .top ul li a {
    display:block;
    height:22px;
    padding:0 10px;
    line-height:22px; color:#000; font-size:12px;
    border:0;
}

.calendar-list {
    margin:0;
    list-style-type:none;
}
.calendar-list li {
    float:left; position:relative;
    width:140px; height:94px;
    margin:0 1px 1px 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color:#ededed;
    overflow:hidden;
}
.calendar-list li:nth-child(7n) {margin-right:0;}
.calendar-list li a {display:block; position: absolute; right: 0; top: 0; bottom: 0; left: 0;}
.calendar-list li.today span {color: #008148;}
.calendar-list li img {
    position:relative; z-index:1; display:block; height: 100%; width: 100%;
}
.calendar-list li a:hover:after,
.calendar-list li.inactive a:after {
    content:"";
    position:absolute; left:0; top:0; z-index:3;
    width:100%; height:100%;
    background:rgb(255,255,255); background:rgba(255,255,255,0.8);
}
.calendar-list li span {
    position:absolute; left:0; bottom:0; z-index:5; display:block;
    width:30px; height:30px;
    font-size:14px; color:#000; font-weight:bold; line-height:30px; text-align:center;
    background:rgb(255,255,255); background:rgba(255,255,255,0.8);
}
.calendar-list li h5 {
    position:absolute; top:0; left:0; z-index:5; display:none;
    font-size:14px; color:#000; font-weight:normal;
    padding:10px;
}
.calendar-list li a:hover span,
.calendar-list li.inactive a span {background:none;}
.calendar-list li a:hover h5 {display:block;}
.calendar-day-names-ul {margin: 0;}
.calendar-day-names-ul li {
    margin: 0; 
    list-style-type: none;
    width: 140px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000;
    font-weight: bold;
    line-height: 30px;
    float: left;
}
